*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html, body{
  color:white;
  font-family: sans-serif;
  margin-top: 20px;
  background-color: #1b1b32;
}

.freeCodeCamp-logo-contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:20px;
  background-color: #1b1b32;
}

.freecodecamp-logo{
  width: 45rem;
  height: 16rem;
  background-color: #1b1b32;
}

.titulo-tareas{
  color: black;
  font-size: 4rem;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.aplicacion-tareas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media(min-width:768px){
  .body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

}
.tareas-lista-principal{
  width: 60rem;
  min-height: 50rem;
  background-color: #d0d0d5;
  padding: 2.5rem;
  margin:1rem;
  justify-content: center;
  align-items: center;
  border-radius: 2.6rem;
  color: black;


}
@media(min-width:768px){
  .tareas-lista-principal{
    width: 50rem;
  }
}

